/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat - Alternates - Black.otf");
    src: url("../Fonts/Montserrat - Alternates - Black - Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Light.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Light Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Light Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Light.otf");
    src: url("../Fonts/Montserrat - Alternates - Medium.otf");
    src: url("../Fonts/Montserrat - Alternates - Medium Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Regular.otf");
    src: url("../Fonts/Montserrat - Alternates - Semi Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Semi Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Thin Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Thin.otf");
    src: url("../Fonts/Montserrat - Black.otf");
    src: url("../Fonts/Montserrat - Black - Italic.otf");
    src: url("../Fonts/Montserrat - Bold.otf");
    src: url("../Fonts/Montserrat - Bold Italic.otf");
    src: url("../Fonts/Montserrat - Extra Bold.otf");
    src: url("../Fonts/Montserrat - Extra Bold Italic.otf");
    src: url("../Fonts/Montserrat - Extra Light.otf");
    src: url("../Fonts/Montserrat - Extra Light Italic.otf");
    src: url("../Fonts/Montserrat - Italic.otf");
    src: url("../Fonts/Montserrat - Light Italic.otf");
    src: url("../Fonts/Montserrat - Light.otf");
    src: url("../Fonts/Montserrat - Medium.otf");
    src: url("../Fonts/Montserrat - Medium Italic.otf");
    src: url("../Fonts/Montserrat - Regular.otf");
    src: url("../Fonts/Montserrat - Semi Bold Italic.otf");
    src: url("../Fonts/Montserrat - Semi Bold.otf");
    src: url("../Fonts/Montserrat - Thin Italic.otf");
    src: url("../Fonts/Montserrat - Thin.otf");
}
/* CSS Variables */
:root {
    --brandonGrotesque: "Brandon Grotesque";
    --proximaNova: "Proxima Nova";
    --montserrat: "Montserrat";
    --backgroundColor1: rgb(0, 64, 255);
    --backgroundColor2: rgb(64, 128, 255);
    --backgroundColor3: rgb(255, 128, 64);
    --foregroundColor1: rgb(255, 255, 255);
    --foregroundColor2: rgb(0, 0, 0);
    --foregroundColor3: rgba(255, 255, 255, 0.5);
    --foregroundColor4: rgb(0, 204, 204);
    --foregroundColor5: rgba(0, 0, 0, 0.7);
    --formForegroundColor1: rgba(0, 0, 0, 0.5);
    --formForegroundColor2: rgba(0, 0, 0, 0.75);
    --failure: rgb(255, 0, 0);
    --success: rgb(0, 255, 0);
    --bold: 700;
    --extraBold: 800;
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --opacity: 100%;
    --logoHeight: 104px;
    --logoWidth: 87px;
    --time: 1s;
    --navHeight: 52px;
    --semiBold: 600;
    --formBackgroundColor1: rgba(0, 0, 0, 0.1);
    --formBackgroundColor2: rgba(0, 0, 0, 0);
    --coverHeight: 270px;
    /* Page Styling configuration */
    background-color: var(--backgroundColor3);
    color: var(--foregroundColor1);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    font-family: sans-serif;
}
/* Navigation Bar */
/* Navigation Bar */
nav {
    display: flex;
    height: calc(var(--logoHeight) / 2);
}
#homepageSection,
#navigationBarComponents {
    width: calc(var(--horizontal) / 2);
}
#homepageSection img:hover,
#navigationBarComponents img:hover,
.faLogout:hover,
.faProfile:hover {
    opacity: calc(var(--opacity) / 2);
}
/* Homepage Section */
#homepageSection img {
    width: auto;
    height: var(--vertical);
}
/* Navigation Bar Components */
#navigationBarComponents {
    display: flex;
}
#navigationBarComponents img {
    width: auto;
    height: var(--navHeight);
}
#profile,
#logout {
    width: calc(var(--horizontal) / 2);
}
#navigationBarComponents a {
    font-size: calc(var(--fontSize) * 3.25);
}
#profile a {
    margin: 0 calc(var(--horizontal) * (7459 / 16875));
}
#logout a {
    margin: 0 calc(var(--horizontal) * 0.422924712);
}
.faLogout,
.faProfile {
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor3);
    border: none;
    cursor: pointer;
}
/* Loan Management */
#loanManagement {
    width: calc(var(--horizontal) * 0.8);
    padding: calc(var(--vertical) * 0.05);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.05);
    background-color: var(--foregroundColor1);
    color: var(--foregroundColor2);
}
#loanManagement h1 {
    font-family: var(--brandonGrotesque);
    font-size: calc(var(--fontSize) * 2);
    margin: calc(var(--vertical) * 0.01) 0;
}
#loanManagement p {
    font-family: var(--proximaNova);
    font-size: var(--fontSize);
    color: var(--success);
    margin: calc(var(--vertical) * 0.01) 0;
}
#personBook {
    display: flex;
}
#person,
#book {
    display: flex;
}
#person {
    width: calc(var(--horizontal) * 0.45);
    margin-right: calc(var(--horizontal) * 0.05);
}
#book {
    width: calc(var(--horizontal) * 0.45);
    margin-left: calc(var(--horizontal) * 0.05);
}
#person #contents,
#book #contents {
    font-family: var(--proximaNova);
    font-size: var(--fontSize);
}
#person #contents,
#person input,
#book #contents,
#book input {
    width: calc(var(--horizontal) / 2);
}
#search input,
#recordReturn input {
    font-family: var(--proximaNova);
    font-size: var(--fontSize);
    font-weight: bold;
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor3);
    border: none;
    cursor: pointer;
    padding: calc(var(--vertical) * 0.0125) calc(var(--horizontal) * 0.025);
}
#search input {
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.452018518);
}
#recordReturn input {
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.45374537);
}
#search input:hover,
#recordReturn input:hover {
    color: var(--backgroundColor3);
    background-color: var(--foregroundColor1);
}
#loanIdTime,
#loanDateDueDate,
#loanPersonBook,
#loanDateReturned {
    width: var(--horizontal);
    display: flex;
}
#loanId,
#loanTime,
#loanDate,
#loanDueDate,
#loanPerson,
#loanBook {
    width: calc(var(--horizontal) / 2);
    display: flex;
}
#loanId h1,
#loanTime h1,
#loanDate h1,
#loanDueDate h1,
#loanPerson h1,
#loanBook h1,
#loanDateReturned h1,
#loanDateReturned input {
    width: calc(var(--horizontal) / 2);
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
}
#success,
#failure {
    font-family: var(--brandonGrotesque);
    font-size: calc(var(--fontSize) * 2);
    font-weight: var(--bold);
    text-align: center;
    text-shadow: 0px 0px 8px var(--foregroundColor1);
}
#success {
    color: var(--success);
}
#failure {
    color: var(--failure);
}
