/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* CSS Variables */
:root {
    --brandonGrotesque: "Brandon Grotesque";
    --proximaNova: "Proxima Nova";
    --backgroundColor1: rgb(0, 64, 255);
    --backgroundColor2: rgb(64, 128, 255);
    --foregroundColor1: rgb(255, 255, 255);
    --foregroundColor2: rgb(0, 0, 0);
    --foregroundColor3: rgba(255, 255, 255, 0.5);
    --formForegroundColor1: rgba(0, 0, 0, 0.5);
    --formForegroundColor2: rgba(0, 0, 0, 0.75);
    --failure: rgb(255, 0, 0);
    --success: rgb(0, 255, 0);
    --bold: 700;
    --extraBold: 800;
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --opacity: 100%;
    --logoHeight: 104px;
    --logoWidth: 87px;
    --time: 1s;
    --navHeight: 52px;
    /* Page Styling configuration */
    background-color: var(--backgroundColor2);
    color: var(--foregroundColor1);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    font-family: sans-serif;
}
/* Navigation Bar */
nav {
    display: flex;
    height: calc(var(--logoHeight) / 2);
}
#homepageSection,
#navigationBarComponents {
    width: calc(var(--horizontal) / 2);
}
/* Homepage Section */
#homepageSection img {
    width: auto;
    height: var(--vertical);
}
#homepageSection img:hover,
#navigationBarComponents img:hover {
    opacity: calc(var(--opacity) / 2);
}
/* Navigation Bar Components */
#navigationBarComponents {
    display: flex;
}
#navigationBarComponents a {
    font-size: calc(var(--fontSize) * 3.25);
}
#navigationBarComponents img {
    width: auto;
    height: var(--navHeight);
}
#profile,
#logout {
    width: calc(var(--horizontal) / 2);
}
.faProfileCustom,
.faLogoutCustom {
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor2);
}
#profile a {
    margin: 0 calc(var(--horizontal) * (15017 / 33750));
}
#logout a {
    margin: 0 calc(var(--horizontal) * (482 / 1125));
}
.faProfileCustom:hover,
.faLogoutCustom:hover {
    opacity: calc(var(--opacity) / 2);
}
#navigationBarComponents button {
    border: none;
}
/* Welcome Text */
#welcomeText {
    width: 100%;
    overflow: hidden;
}
#welcomeText h1 {
    font-size: calc(var(--fontSize) * 2);
    animation: welcomeText calc(var(--time) * 10) infinite linear;
    /* animation: calc(var(--time) * 4) welcomeText calc(var(--time) * 4) forwards; */
    transform: translateX(100%);
}
@keyframes welcomeText {
    to {
        transform: translateX(0);
    }
}
#welcomeText h1:hover {
    animation-play-state: paused;
}
/* Activities */
#activities {
    display: flex;
    width: var(--horizontal);
    margin: calc(var(--vertical) * 0.01) 0;
}
#links {
    width: calc(var(--horizontal) / 3);
    text-align: center;
}
#links a {
    text-decoration: none;
    color: var(--backgroundColor2);
    background-color: var(--foregroundColor1);
    padding: calc(var(--vertical) * 0.0125) calc(var(--horizontal) * 0.025);
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: var(--bold);
}
#links a:hover {
    background-color: var(--backgroundColor2);
    color: var(--foregroundColor1);
}
/* Information */
#information {
    width: calc(var(--horizontal) * 0.8);
    margin: calc(var(--vertical) * 0.02) calc(var(--horizontal) * 0.1);
    background-color: var(--foregroundColor1);
}
#profilePicture,
#mailAddress,
#type {
    display: flex;
    width: var(--horizontal);
}
#profilePictureLabel,
#mailAddressLabel,
#typeLabel {
    width: calc(var(--horizontal) / 2);
    margin: calc(var(--vertical) * 0.0025) 0;
}
#profilePictureLabel h1,
#mailAddressLabel h1,
#typeLabel h1 {
    margin: 0 0 0 calc(var(--horizontal) * 0.01);
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    color: var(--backgroundColor2);
}
#detail {
    margin-left: calc(var(--horizontal) * 0.01);
    font-size: var(--fontSize);
    font-weight: var(--bold);
    color: var(--foregroundColor2);
    font-family: var(--proximaNova);
}
#profilePicture i {
    font-size: calc(var(--fontSize) * 1.125);
    color: var(--foregroundColor2);
    background-color: var(--foregroundColor1);
}
#profilePicture img {
    height: calc(var(--navHeight) * 2);
    width: auto;
}
#profilePicture i:hover {
    opacity: var(--opacity);
}
/* Media Queries to fit on a screen of a smartphone on portrait mode */
@media screen and (device-width: 360px) and (orientation: portrait) {
    #welcomeText h1 {
        font-size: calc(
            var(--fontSize) * 2 * (0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9)
        );
    }
    #links a {
        font-size: calc(var(--fontSize) * (0.9 * 0.9 * 0.9 * 0.9));
    }
    #information {
        width: calc(var(--horizontal) * 0.975);
        margin: calc(var(--vertical) * 0.02) calc(var(--horizontal) * 0.0125);
        background-color: var(--foregroundColor1);
    }
    #detail {
        font-size: calc(var(--fontSize) * (0.9 * 0.9 * 0.9));
    }
    #profilePicture i {
        font-size: calc(var(--fontSize) * (19 / 11));
    }
}
/* Media Queries to fit on a screen of a smartphone on landscape mode */
@media screen and (device-width: 640px) and (orientation: landscape) {
    #welcomeText h1 {
        font-size: calc(var(--fontSize) * 2 * (0.9));
    }
    #information {
        width: calc(var(--horizontal) * 0.93);
        margin: calc(var(--vertical) * 0.02) calc(var(--horizontal) * 0.035);
    }
}
