/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* CSS Variables */
:root {
    --brandonGrotesque: "Brandon Grotesque";
    --proximaNova: "Proxima Nova";
    --backgroundColor1: rgb(0, 64, 255);
    --backgroundColor2: rgb(64, 128, 255);
    --backgroundColor3: rgb(255, 128, 64);
    --foregroundColor1: rgb(255, 255, 255);
    --foregroundColor2: rgb(0, 0, 0);
    --foregroundColor3: rgba(255, 255, 255, 0.5);
    --formForegroundColor1: rgba(0, 0, 0, 0.5);
    --formForegroundColor2: rgba(0, 0, 0, 0.75);
    --failure: rgb(255, 0, 0);
    --success: rgb(0, 255, 0);
    --bold: 700;
    --extraBold: 800;
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --opacity: 100%;
    --logoHeight: 104px;
    --logoWidth: 87px;
    --time: 1s;
    --navHeight: 52px;
    --textAreaHeight: 30px;
    /* Page Styling configuration */
    background-color: var(--backgroundColor3);
    color: var(--foregroundColor1);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    font-family: sans-serif;
}
/* Navigation Bar */
nav {
    display: flex;
    height: calc(var(--logoHeight) / 2);
}
#homepageSection,
#navigationBarComponents {
    width: calc(var(--horizontal) / 2);
}
/* Homepage Section */
#homepageSection img {
    width: auto;
    height: var(--vertical);
}
#homepageSection img:hover,
#navigationBarComponents img:hover {
    opacity: calc(var(--opacity) / 2);
}
/* Navigation Bar Components */
#navigationBarComponents {
    display: flex;
}
#navigationBarComponents img {
    width: auto;
    height: var(--navHeight);
}
#profile,
#logout {
    width: calc(var(--horizontal) / 2);
}
#navigationBarComponents a {
    font-size: calc(var(--fontSize) * 3.25);
}
.faProfileCustom,
.faLogoutCustom {
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor3);
}
#profile a {
    margin: 0 calc(var(--horizontal) * (15017 / 33750));
}
#logout a {
    margin: 0 calc(var(--horizontal) * (482 / 1125));
}
.faProfileCustom:hover,
.faLogoutCustom:hover {
    opacity: calc(var(--opacity) / 2);
}
#navigationBarComponents button {
    border: none;
}
#adminForms {
    width: var(--horizontal);
    margin: calc(var(--vertical) * 0.01) 0;
    display: flex;
}
#report,
#mail {
    width: calc(var(--horizontal) / 2);
}
#report h1,
#notice {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    color: var(--foregroundColor2);
    text-align: center;
}
#reportButton input[type="submit"] {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: var(--bold);
    color: var(--backgroundColor3);
    background-color: var(--foregroundColor1);
    border: none;
    cursor: pointer;
    padding: calc(var(--vertical) * 0.05) calc(var(--horizontal) * 0.1);
}
#reportButton input[type="submit"]:hover {
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor3);
}
#reportButton {
    margin: 0 calc(var(--horizontal) * 0.440511111);
}
#mail {
    background-color: var(--foregroundColor1);
    padding: calc(var(--vertical) * 0.0003125) calc(var(--horizontal) * 0.01);
}
#mail h1 {
    font-size: calc(var(--fontSize) * 2);
    font-family: var(--brandonGrotesque);
    font-weight: var(--bold);
    color: var(--formForegroundColor2);
}
#mail p {
    font-size: calc(var(--fontSize) * 1.1);
    font-family: var(--brandonGrotesque);
    font-weight: var(--bold);
    color: var(--formForegroundColor1);
}
#mail form input[type="text"],
#mail form input[type="email"] {
    width: var(--horizontal);
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: var(--bold);
    margin: calc(var(--vertical) * 0.01) 0;
}
#sendMailButton input[type="submit"] {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: var(--bold);
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor3);
    border: none;
    cursor: pointer;
    padding: calc(var(--vertical) * 0.05) calc(var(--horizontal) * 0.1);
}
#sendMailButton input[type="submit"]:hover {
    color: var(--backgroundColor3);
    background-color: var(--foregroundColor1);
}
#sendMailButton {
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * (3289 / 7350));
}
#success,
#failure {
    font-family: var(--brandonGrotesque);
    font-size: calc(var(--fontSize) * 2);
    font-weight: var(--bold);
    text-align: center;
    text-shadow: 0px 0px 8px var(--foregroundColor1);
}
#success {
    color: var(--success);
}
#failure {
    color: var(--failure);
}
