/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat - Alternates - Black.otf");
    src: url("../Fonts/Montserrat - Alternates - Black - Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Light.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Light Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Light Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Light.otf");
    src: url("../Fonts/Montserrat - Alternates - Medium.otf");
    src: url("../Fonts/Montserrat - Alternates - Medium Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Regular.otf");
    src: url("../Fonts/Montserrat - Alternates - Semi Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Semi Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Thin Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Thin.otf");
    src: url("../Fonts/Montserrat - Black.otf");
    src: url("../Fonts/Montserrat - Black - Italic.otf");
    src: url("../Fonts/Montserrat - Bold.otf");
    src: url("../Fonts/Montserrat - Bold Italic.otf");
    src: url("../Fonts/Montserrat - Extra Bold.otf");
    src: url("../Fonts/Montserrat - Extra Bold Italic.otf");
    src: url("../Fonts/Montserrat - Extra Light.otf");
    src: url("../Fonts/Montserrat - Extra Light Italic.otf");
    src: url("../Fonts/Montserrat - Italic.otf");
    src: url("../Fonts/Montserrat - Light Italic.otf");
    src: url("../Fonts/Montserrat - Light.otf");
    src: url("../Fonts/Montserrat - Medium.otf");
    src: url("../Fonts/Montserrat - Medium Italic.otf");
    src: url("../Fonts/Montserrat - Regular.otf");
    src: url("../Fonts/Montserrat - Semi Bold Italic.otf");
    src: url("../Fonts/Montserrat - Semi Bold.otf");
    src: url("../Fonts/Montserrat - Thin Italic.otf");
    src: url("../Fonts/Montserrat - Thin.otf");
}
/* CSS Variables */
:root {
    --brandonGrotesque: "Brandon Grotesque";
    --proximaNova: "Proxima Nova";
    --montserrat: "Montserrat";
    --backgroundColor1: rgb(0, 64, 255);
    --backgroundColor2: rgb(64, 128, 255);
    --backgroundColor3: rgb(255, 128, 64);
    --foregroundColor1: rgb(255, 255, 255);
    --foregroundColor2: rgb(0, 0, 0);
    --foregroundColor3: rgba(255, 255, 255, 0.5);
    --foregroundColor4: rgb(0, 204, 204);
    --foregroundColor5: rgba(0, 0, 0, 0.7);
    --formForegroundColor1: rgba(0, 0, 0, 0.5);
    --formForegroundColor2: rgba(0, 0, 0, 0.75);
    --failure: rgb(255, 0, 0);
    --success: rgb(0, 255, 0);
    --bold: 700;
    --extraBold: 800;
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --opacity: 100%;
    --logoHeight: 104px;
    --logoWidth: 87px;
    --time: 1s;
    --navHeight: 52px;
    --semiBold: 600;
    --formBackgroundColor1: rgba(0, 0, 0, 0.1);
    --formBackgroundColor2: rgba(0, 0, 0, 0);
    --coverHeight: 270px;
    /* Page Styling configuration */
    background-color: var(--backgroundColor2);
    color: var(--foregroundColor1);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    font-family: sans-serif;
}
/* Navigation Bar */
nav {
    display: flex;
    height: calc(var(--logoHeight) / 2);
}
#homepageSection,
#navigationBarComponents {
    width: calc(var(--horizontal) / 2);
}
#homepageSection img {
    width: auto;
    height: var(--vertical);
}
#homepageSection img:hover,
#navigationBarComponents img:hover,
.faProfile:hover,
.faLogout:hover {
    opacity: calc(var(--opacity) / 2);
}
#profile,
#logout {
    width: calc(var(--horizontal) / 2);
}
#navigationBarComponents {
    display: flex;
}
#navigationBarComponents img {
    width: auto;
    height: var(--navHeight);
}
#navigationBarComponents a {
    text-transform: none;
    color: var(--foregroundColor1);
    font-size: calc(var(--fontSize) * 3.25);
    text-decoration: none;
    font-family: var(--proximaNova);
    /* width: calc(var(--horizontal) / 3); */
    text-align: center;
}
#navigationBarComponents a:hover {
    text-decoration: underline;
    opacity: calc(var(--fontSize) / 2);
}
#profile a {
    margin: 0 calc(var(--horizontal) * 0.444948148);
}
#logout a {
    margin: 0 calc(var(--horizontal) * (482 / 1125));
}
/* Reservation List */
#found {
    width: calc(var(--horizontal) * 0.9);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.05);
    background-color: var(--foregroundColor1);
    display: flex;
}
#left,
#right {
    width: calc(var(--horizontal) / 2);
}
#left img {
    width: auto;
    height: var(--coverHeight);
}
#isbn,
#author,
#title,
#publisher,
#category,
#action {
    display: flex;
}
#isbn h1,
#author h1,
#title h1,
#publisher h1,
#category h1,
#action h1 {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: var(--bold);
    color: var(--foregroundColor2);
    width: calc(var(--horizontal) / 2);
}
#action {
    width: var(--horizontal);
}
#action form {
    margin: 0 calc(var(--horizontal) * 0.441534409);
}
#action form input {
    font-family: var(--proximaNova);
    font-size: var(--fontSize);
    font-weight: var(--bold);
    color: var(--foregroundColor1);
    background-color: var(--backgroundColor2);
    border: none;
    padding: calc(var(--vertical) * 0.1) calc(var(--horizontal) * 0.2);
    cursor: pointer;
}
#action form input:hover {
    color: var(--backgroundColor2);
    background-color: var(--foregroundColor1);
}
/* Message status */
#success,
#failure {
    font-family: var(--brandonGrotesque);
    font-size: calc(var(--fontSize) * 2);
    font-weight: var(--bold);
    text-align: center;
    text-shadow: 0px 0px 8px var(--foregroundColor1);
}
#success {
    color: var(--success);
}
#failure {
    color: var(--failure);
}
/* Media Queries to fit on a screen of a smartphone on portrait mode */
@media screen and (device-width: 360px) and (orientation: portrait) {
}
/* Media Queries to fit on a screen of a smartphone on landscape mode */
@media screen and (device-width: 640px) and (orientation: landscape) {
}
