/* Brandon Grotesque */
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../Fonts/Brandon Grotesque - Black.otf");
    src: url("../Fonts/Brandon Grotesque - Bold Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Light.otf");
    src: url("../Fonts/Brandon Grotesque - Medium Italic.otf");
    src: url("../Fonts/Brandon Grotesque - Thin Italic.otf");
}
/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* Montserrat */
@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat - Alternates - Black.otf");
    src: url("../Fonts/Montserrat - Alternates - Black - Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Light.otf");
    src: url("../Fonts/Montserrat - Alternates - Extra Light Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Light Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Light.otf");
    src: url("../Fonts/Montserrat - Alternates - Medium.otf");
    src: url("../Fonts/Montserrat - Alternates - Medium Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Regular.otf");
    src: url("../Fonts/Montserrat - Alternates - Semi Bold Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Semi Bold.otf");
    src: url("../Fonts/Montserrat - Alternates - Thin Italic.otf");
    src: url("../Fonts/Montserrat - Alternates - Thin.otf");
    src: url("../Fonts/Montserrat - Black.otf");
    src: url("../Fonts/Montserrat - Black - Italic.otf");
    src: url("../Fonts/Montserrat - Bold.otf");
    src: url("../Fonts/Montserrat - Bold Italic.otf");
    src: url("../Fonts/Montserrat - Extra Bold.otf");
    src: url("../Fonts/Montserrat - Extra Bold Italic.otf");
    src: url("../Fonts/Montserrat - Extra Light.otf");
    src: url("../Fonts/Montserrat - Extra Light Italic.otf");
    src: url("../Fonts/Montserrat - Italic.otf");
    src: url("../Fonts/Montserrat - Light Italic.otf");
    src: url("../Fonts/Montserrat - Light.otf");
    src: url("../Fonts/Montserrat - Medium.otf");
    src: url("../Fonts/Montserrat - Medium Italic.otf");
    src: url("../Fonts/Montserrat - Regular.otf");
    src: url("../Fonts/Montserrat - Semi Bold Italic.otf");
    src: url("../Fonts/Montserrat - Semi Bold.otf");
    src: url("../Fonts/Montserrat - Thin Italic.otf");
    src: url("../Fonts/Montserrat - Thin.otf");
}
/* CSS Variables */
:root {
    --brandonGrotesque: "Brandon Grotesque";
    --proximaNova: "Proxima Nova";
    --montserrat: "Montserrat";
    --backgroundColor1: rgb(0, 64, 255);
    --backgroundColor2: rgb(64, 128, 255);
    --backgroundColor3: rgb(255, 255, 255);
    --foregroundColor1: rgb(255, 255, 255);
    --foregroundColor2: rgb(0, 0, 0);
    --foregroundColor3: rgba(255, 255, 255, 0.5);
    --foregroundColor4: rgb(0, 204, 204);
    --foregroundColor5: rgba(0, 0, 0, 0.7);
    --formForegroundColor1: rgba(0, 0, 0, 0.5);
    --formForegroundColor2: rgba(0, 0, 0, 0.75);
    --failure: rgb(255, 0, 0);
    --success: rgb(0, 255, 0);
    --bold: 700;
    --extraBold: 800;
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --opacity: 100%;
    --logoHeight: 104px;
    --logoWidth: 87px;
    --time: 1s;
    --navHeight: 52px;
    --semiBold: 600;
    --formBackgroundColor1: rgba(0, 0, 0, 0.1);
    --formBackgroundColor2: rgba(0, 0, 0, 0);
    /* Page Styling configuration */
    background-color: var(--backgroundColor3);
    color: var(--foregroundColor2);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    font-family: sans-serif;
    margin: 0;
}
/* Header */
header {
    width: calc(var(--horizontal) * 0.98);
    padding: calc(var(--horizontal) * 0.01);
}
header h1 {
    font-family: var(--montserrat);
    font-size: calc(var(--fontSize) * 2);
    color: var(--foregroundColor4);
    margin: 0;
    text-transform: uppercase;
}
#failure,
#success {
    font-family: var(--proximaNova);
    font-size: calc(var(--fontSize) * 2 * (0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9));
    font-weight: var(--bold);
    text-align: center;
}
/* Section */
section {
    width: var(--horizontal);
    display: flex;
    margin-top: calc(var(--vertical) * 0.01);
}
#left,
#right {
    width: calc(var(--horizontal) / 2);
}
#left img {
    width: var(--horizontal);
    height: auto;
}
#homeMessage {
    font-size: calc(var(--fontSize) * 1.5 * (0.9));
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-weight: var(--semiBold);
    color: var(--foregroundColor5);
    margin: calc(var(--vertical) * 0.02) 0;
    text-align: center;
}
#notice {
    font-family: var(--proximaNova);
    text-transform: none;
    color: var(--success);
    text-decoration: underline;
    font-size: calc(var(--fontSize) * (1.1 * 1.1));
    margin: calc(var(--vertical) * 0.02) 0;
    text-align: center;
}
#resetPasswordForm {
    background-color: var(--formBackgroundColor1);
    width: calc(var(--horizontal) * 0.7);
    padding: calc(var(--horizontal) * 0.05);
    margin: 0 calc(var(--horizontal) * 0.1);
}
#mailAddressNotice {
    font-size: calc(var(--fontSize) * (0.9));
    color: var(--success);
    text-decoration: underline;
    margin: calc(var(--vertical) * 0.01) 0;
    font-weight: var(--extraBold);
}
#mailAddress {
    width: var(--horizontal);
    margin-top: calc(var(--vertical) * 0.01);
}
#resetPasswordButton {
    font-size: calc(var(--fontSize) * (1.1));
    color: var(--foregroundColor1);
    background-color: var(--foregroundColor4);
    border: none;
    padding: calc(var(--vertical) * 0.025) calc(var(--horizontal) * 0.1);
    font-weight: var(--extraBold);
    font-family: var(--proximaNova);
    margin-left: calc(var(--horizontal) * 0.4 * (0.9));
    cursor: pointer;
}
#resetPasswordButton:hover {
    color: var(--foregroundColor4);
    background-color: var(--formBackgroundColor2);
    cursor: pointer;
}
#success {
    color: var(--success);
}
#failure {
    color: var(--failure);
}
/* Media Queries to fit on a screen of a smartphone on portrait mode */
@media screen and (device-width: 360px) and (orientation: portrait) {
    /* Header */
    header h1 {
        font-size: calc(var(--fontSize) * 2 * (0.9 * 0.9 * 0.9 * 0.9 * 0.9));
        text-align: center;
    }
    /* Section */
    section {
        width: var(--horizontal);
        display: block;
    }
    #left,
    #right {
        width: var(--horizontal);
    }
    #left img {
        width: calc(var(--horizontal) * (0.9 * 0.9 * 0.9));
        margin: 0 calc(var(--horizontal) * 0.1355);
        height: auto;
    }
    #homeMessage {
        font-size: calc(
            var(--fontSize) * 1.5 *
                (0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9)
        );
    }
    #notice {
        font-size: calc(var(--fontSize) * (0.9 * 0.9));
    }
    #mailAddressNotice {
        font-size: calc(var(--fontSize) * (0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9));
    }
    #resetPasswordButton {
        margin-left: calc(var(--horizontal) * 0.4 * (0.9 * 0.9));
    }
}
/* Media Queries to fit on a screen of a smartphone on landscape mode */
@media screen and (device-width: 640px) and (orientation: landscape) {
    /* Header */
    header h1 {
        text-align: center;
    }
    /* Section */
    #homeMessage {
        font-size: calc(
            var(--fontSize) * 1.5 *
                (
                    0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9 *
                        0.9
                )
        );
    }
    #notice {
        font-size: calc(var(--fontSize) * (0.9 * 0.9 * 0.9));
    }
    #mailAddressNotice {
        font-size: calc(var(--fontSize) * (0.9 * 0.9 * 0.9 * 0.9 * 0.9 * 0.9));
    }
    #resetPasswordButton {
        margin-left: calc(var(--horizontal) * 0.4 * (0.9 * 0.9 * 0.95));
    }
}
